body {
    background-image: url("../img/graybg.jpeg");
    background-color: #cccccc;
}

/*Midle div*/
.form-login {
	max-width: 630px;
	margin: 100px auto 0;
	background: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

.form-login h2.form-login-heading {
	margin: 0;
	padding: 25px 20px;
	text-align: center;
	background: #68dff0;
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 300;
}
.login-wrap {
	padding: 20px;
	padding-top: 0px;
}

.add {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
.action{
	font-size: 12px;
}
.btndiv{
	padding-top: 10px;
}